@import url('https://fonts.googleapis.com/css2?family=Borel&family=Patrick+Hand+SC&display=swap')


h1 {
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  