<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>customer_history</title>
</head>
<body>
{%include 'admin/admin.html'%}

</body>

<div class="card-body">
                  <h2><strong>Products  of : {{name}}</strong></h2></br>
                  <div class="table-responsive">
                    <table class="table table-hover">
					{% csrf_token %}
                      <thead>
                        <tr>
                          <th><strong>Product Picture</strong></th>
						  <th><strong>Product name</strong></th>
                            <th><strong>Unit Price</strong></th>
                        </tr>
                      </thead>
                      <tbody>

                        {%for u in p%}
                        <tr>

                          <td>
                            <img src="/uploads/{{u.pid.p_pic}}" style="height:100px; width:100px; border-radius:8px" />
                          </td>

                          <td>
                           {{u.pid.pname}}
                          </td>


                            <td>
                           {{u.pid.sprice}}
                          </td>

                        </tr>
                        {%endfor%}

                      </tbody>
                    </table>
                  </div>
</div>

</div></div>

</html>
