<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>accept oder</title>
</head>
<body>
{%include 'seller/seller.html'%}
                <div class="card-body">
                  <h1><strong>Accept Oder</strong></h1></br>
                  <div class="table-responsive">
                    <table class="table table-hover">
					{% csrf_token %}
                      <thead>
                        <tr>
                          <th><strong>Customer Name</strong></th>
                          <th><strong>Phone Numeber</strong></th>
						  <th><strong>Product name</strong></th>
                          <th><strong>Qunantity</strong></th>
                          <th><strong>Date</strong></th>
                        </tr>
                      </thead>
                      <tbody>

                        {%for u in users%}
                        <tr>

                          <td>
                            {{u.cid.name}}
                          </td>

                          <td>
                           {{u.cid.phone}}
                          </td>

                          <td>
                            {{u.pid.pname}}
                          </td>

                          <td>
                            {{u.qty}}
                          </td>

                           <td>
                            {{u.date}}
                          </td>

						  <td>
                            <a href="{%url 'customer_order_details' u.id%}" style="text-decoration:none;color:white"><button class="btn btn-primary mr-2 btn-sm">View</button></a>
                          </td>
                          <td>
                            <a href="{%url 'accept_order_balance' u.id%}" style="text-decoration:none;color:white"><button class="btn btn-primary mr-2 btn-sm">Accept</button></a>
                          </td>
                          <td>
                            <a href="{%url 'reject_order' u.id%}" style="text-decoration:none;color:white"><button class="btn btn-primary mr-2 btn-sm">Reject</button></a>
                          </td>

                        </tr>
                        {%endfor%}

                      </tbody>
                    </table>
                  </div>
                </div>
</div></div>
</body>

</html>